html {
  scroll-behavior: smooth;
}

body{
    font-family: 'Bad Script', cursive;
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  .container {
    max-width: 565px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;   
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    max-width: 1140px;
  }
}



.first__section{
    height: 100vh;
    max-height: 1080px;
    background: url(../img/bg.jpg) no-repeat right;
    background-size: cover;
    position: relative;
}



.about__content{
    position: absolute;
    /*left: 20%;*/
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
    /*text-align: center;*/
}

.about__content h1{
   color: white;
   font-size: 40px;
}
.about__content p{
    color: white;
    font-size: 25px;
    margin: 5px;
 }
 



header{
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    z-index: 50;
    margin-bottom: -60px;
    background-color: rgba(0,0,0,0.4);
}

header .header__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
}

.header__wrapper, header .container{
    height: 100%;
}

.nav__content{
    display: flex;
    align-items: center;
}

.navigation, .aboutus{
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.navigation{
    padding-right: 30px;
}



.navbar {
    overflow: hidden;
  }


  
  .navbar a {
    background-color: transparent;
    float: left;
    font-size: 14px;
    color: white;
    /*text-align: right;*/
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #firstnav{
  padding-left: 0px;
}

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 14px 18px;
    background-color: rgba(0,0,0,0);
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:hover {
    color: white;
    opacity: 0.7;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 0px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /*text-align: right;*/
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
}

.fa-caret-down{
    color: white;
}

.second__section{
    -webkit-box-shadow: 0px 7px 5px -4px rgba(34, 60, 80, 0.46);
    -moz-box-shadow: 0px 7px 5px -4px rgba(34, 60, 80, 0.46);
    box-shadow: 0px 7px 5px -4px rgba(34, 60, 80, 0.46);
    padding: 30px 0;
}

.about__desc{
    white-space: pre-wrap;
    text-align: center;
    font-size: 28px;
}

.interior{
    padding-top: 40px;
}

.heading__wrapper{
  display: flex;
  justify-content: center;
}

.interior__heading{
    font-size: 34px;
    letter-spacing: 10px;
    padding: 20px 50px;
    text-align: center;
    background-color: black;
    display: inline;
    color: white
    
}

#interior__slider{
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.about__sec{
  margin-top: 50px;
  position: relative;
}

.about-us__img{
  width: 100%;
}

.about__us{
  position: absolute;
  font-size: 55px;
  top: 40%;
  left: 20%;
  color: white;
}

.about2{
  background-image: url("../img/paper_bg-1.png");
  position: relative;
  padding: 40px 0 100px;
}

.lustra__img{
  margin-left: 25%;
  width: 40%;
  height: auto;
}

.about__desc1,
.about__desc2{
  position: absolute;
  z-index: 2;
  background-color: white;
  font-size: 18px;
  padding: 10px;
}

.about__desc1{
  width: 20%;
  top: 25%; 
  left: 22%;  
}

.about__desc2{
  width: 30%;
  bottom: 20%; 
  left: 50%;  
}



@media (max-width: 1000px){
  .about__desc1,
  .about__desc2{
    font-size: 14px;
  }
}

@media (max-width: 700px){
  .about__content{
    margin: auto;
    text-align: center;
    padding: 10px;
  }
  .about__desc1,
  .about__desc2{
    font-size: 12px;
  }
}

@media (max-width: 600px){
  .lustra__img{
    margin-left: 15%;
    width: 60%;
  }
  .about__content{
    margin: auto;
    text-align: center;
    padding: 10px;
  }
  .about__desc1,
  .about__desc2{
    font-size: 11px;
  }

  .about__desc{
    font-size: 16px;
  }

  .interior__heading{
    font-size: 25px;  
  }

  .about__us{
    font-size: 27px;
  }

}

@media (max-width: 500px){
  .about__content{
    padding: 0;
    margin: auto;
  }
}

@media (max-width: 400px){
  .about__content{
    left: 0;
  }
  .lustra__img{
    margin-left: 5%;
    width: 80%;
  }

  .about__desc1,
  .about__desc2{
    font-size: 11 px;
  }
  .about__desc1{
    width: 30%;
    left: 7%;
  }
  .about__desc2{
    width: 35%;
    bottom: 10%;
  }

  .about__desc{
    font-size: 16px;
  }

  .interior__heading{
    font-size: 25px;  
  }

  .about__us{
    font-size: 27px;
  }

}

.menu{
  display: none;
}

@media (max-width: 500px) {
  header {
    display: flex;
    justify-content: flex-end;
    z-index: 11;
    background-color: rgba(0,0,0,0.0);
  }
  
  
  
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 7px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 7px);
  }
  
  .menu {
    display: initial;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 15px 0px;
    background-color: black;
    transform: translateX(100%);
    transition: transform 0.5s; 
    z-index: 10;
  }

  .menu nav li{
    text-align: center;
    font-size: 20px;
  }

  .menu nav li a{
    text-decoration: none;
    color: white;
  }

  .menu nav{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menu-btn {
    width: 30px;
    height: 35px;
    position: relative;
    z-index:11;
    overflow: hidden;
  }
  
  .menu-btn span {
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: maroon;
    transition: all 0.5s;
    z-index: 11;
  }
  .menu.active {
    transform: translateX(0);
  }
  
  .menu li {
    list-style-type: none;
  }
  
  .menu-btn.active span:first-of-type {
    transform: translateX(100%);
  }
  
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}


/*                Footer                */


footer{
  font-family: 'Montserrat', sans-serif;
  background-color: #262626;
  color: white;
  padding: 20px 0 40px;
}

.footer__wrapper{
  display: flex;
  justify-content: space-between;
}

.footer__content{
  width: 49%;
}

.inner__content{
  display: flex;
}
.insta{
	text-decoration: none;
  color: white;
  font-size: 14px;
  
}

.fab.fa-instagram{
	margin-left: 5px;
}

.tel__num{
  color: white;
}
.footer__heading{
  font-size: 18px;
}

.footer__desc{
  font-size: 14px;
}

.fas{
  margin-right: 5px;
}
@media (max-width: 700px){
  .footer__heading{
    font-size: 16px;
  }
  
  .footer__desc{
    font-size: 12px;
  }
}

@media (max-width: 600px){
  .footer__wrapper{
    flex-direction: column;
  }

  .footer__content{
    width: 100%;
  }
}

@media (max-width: 575.98px){
  .about__content{
    text-align: center;
  }
}